.carousel-with-custom-dots {
    margin-top: 0px;
    padding-bottom: 25px;
    color: "transparent"; 
  }
  /* .custom-dot {
    border: none;
    margin: 10px;
    outline: none;
  } */
/*   .custom-dot--active {
    transform: scale(1.3);
    outline: auto;
  } */